body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;}
    
.hero{
    height: 100vh;
    background: black;
    color: white;
    text-align: center;
    padding-top: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
h1{
    font-size: 60px;
    margin: 0;
    background-image: url(forezabg.jpg);
    background-size: cover;
    background-repeat: center;
    color: black;
}
p{
    font-size: 20px;
    margin: 20px 0;
}
button{
    padding: 12px 25px;
    margin: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.start{
    background-color: gray;
    color: white;
}
.settings{
    background-color: gray;
    color: white;
}
.features{
    padding: 50px 20px;
    background-color: #111;
    color: white;
    justify-content: center;
    align-items: center;

}
.features h2{
    margin-bottom: 30px;
}
.features-box{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card{
    background-color: #222;
    padding: 20px;
    width: 200px;
    border-radius: 8px;
}
.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-links a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.nav-links a:hover{
    color: red;
}
.card img{ 
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}